html {
	height: 100%;
	position: relative;
}

* {
	box-sizing:border-box;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

[class*="col-"] {
	float: left;
	padding: 15px;
	width: 100%
}

@media only screen and (min-width: 1000px) {
/*Column widths for desktops*/
.col-1 { width: 8.33%;}
.col-2 { width: 16.66%;}
.col-3 { width: 25%;}
.col-4 { width: 33.33%;}
.col-5 { width: 41.66%;}
.col-6 { width: 50%;}
.col-7 { width: 58.33%;}
.col-8 { width: 66.66%;}
.col-9 { width: 75%;}
.col-10 { width: 83.33;}
.col-11 { width: 91.66%}
.col-12 { width: 100%}

.row-1 { height: 10%;
	top: 0%;
	left: 0%;
}
.row-2 { height: 85%;
	top: 12.5%;
	left: 0%;
}
}

/*NAV CSS*/
/***********************************************************************/

div.navBar {
	overflow: hidden;
	list-style-type: none;
	background-color: #C5000A;
	height: 100%;
}

li a.navButton {
	display: block;
	margin: auto;
	margin-bottom: 5px;
	width: 90%;
	padding: 10px 5px 10px 5px;
	text-align: center;
	color: #FFFFFF;
	font-size: 150%;
	text-overflow: ellipsis;
	text-decoration: none;
	background-color: #0B304C;
}
@media only screen and (min-width: 1000px) {
li a.navButton {
	font-size: 1.5vw;
}
}
#warningImg {
	width:30px;
	height:30px;
	float: right;
	display: none;
}
li a:hover {
	background-color: #0D6BB1;
}

li a:active {
	background-color: #0B304C;
}

div.navImage {
	background-color: #0B304C;
	float:left;
}

#sensorPod {
	color: #FFFFFF;
}

#display {
	min-width: 300px; 
	min-height: 500px;
}

/*Sensor Info CSS*/
/***********************************************************************/

.sensors {
	min-height: 230px;
	border-style: solid;
	border-width: 5px;
	border-color: red;
	border-radius: 25px;
	text-align: center;
	margin: auto;
	color: #FFFFFF;
	font-size: 150%;
	background-color: #0B304C;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.value {
	font-size: 200%;
}
@media only screen and (min-width: 1000px) {
.sensors {
	font-size: 1.4vw;
}
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
}

.modalContent {
	background-color: #FEFEFE;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.thresholdRange {
	width: 50%;
	height: 20px;
	margin: auto;
	cursor: pointer;
	font-size: 200%;
	padding-left: 50px;
	padding-right: 50px;
}

.rangeValue {
	border: none;
	position:relative;
	left: 47%;
	width: 100px;
	margin: auto;
	font-size: 200%;
	font-weight: bold;
}

.rangeLabel {
	position: relative;
	left: 40%;
	font-size: 150%;
	padding: 10px;
	margin: 10px;
}

.rangeBar {
	font-size: 150%;
	font-weight: bold;
	position: relative;
	left: 20%;
	margin: 10px;
	padding: 10px;
}

#setThresholdForm {
	margin: auto;
}

/*Admin CSS*/
/***********************************************************************/
form {
	position: center;
}

h2 {
	text-align: center;
}

.textbox {
	float: right;
}

.adminLabel {
	float: left;
}

.reset {
	float: left;
	padding: 10px;
	background-color: #0B304C;
	color: #FFFFFF;
}

.submit {
	float: right;
	padding: 10px;
	background-color: #0B304C;
	color: #FFFFFF;
}
/*FIRMWARE*/
/***********************************************************************/
.firmwarebutton {
	padding: 10px;
	background-color: #C5000A;
	color: #FFFFFF;
}

.fileupload {
	text-align: center;
	margin: auto;
}


/*CONFIG CSS*/
/***********************************************************************/
.configNav {
	overflow: hidden;
	list-style-type: none;
	background-color: #C5000A;
	height: 100%;
/*	display: block;*/
}

.configNavButton {
	display: block;
	padding: 10px 5px 10px 5px;
	text-align: center;
	color: #FFFFFF;
	font-size: 100%;
	text-decoration: none;
	background-color: #0B304C;
	width: 80%;
	margin: auto;
}

#configSettings {
	display: none;
}

.show {
	display: block;
}

/*ALARM CSS*/
/***********************************************************************/
#updateEmails {
	margin-left: 15px;
	float: right;
	padding: 10px;
	background-color: #0B304C;
	color: #FFFFFF;
}
.email {
	font-size: 20px;
       	margin-bottom: 10px;
}
.emailLabel {
	margin: 10px;
}
.alarmEmails {
	font-size: 20px;
}
.alarmLabel {
	margin: 10px;
}


/*Alerts CSS*/
/***********************************************************************/
#alertsTable {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid, grey;
}

td, th {
	border: 1px solid, grey;
	padding: 8px;
	text-align: center;
}

tr:nth-child(even) {
	background-color: #DDDDDD;
}

/*Reboot CSS*/
/***********************************************************************/
#rebootBut {
	float: left;
	padding: 10px;
	background-color: #C5000A;
	color: #FFFFFF;
}

/*System Time CSS*/
/***********************************************************************/
.updateSetting {
	float: right;
	padding: 10px;
	background-color: #0B304C;
	color: #FFFFFF;
}
